.upcoming-movies-heading {
    background-color: #ff9999;
    padding: 8px;
    text-align: center;
    font-size: 1rem;
  }

  .card {
    min-width: 240px;
    max-width: 240px;
    margin: 'theme.spacing.unit';
  }

  .findmovies {
    color: 'theme.palette.primary.light';
  }
  