.upcoming-movies-heading {
    background-color: #ff9999;
    padding: 8px;
    text-align: center;
    font-size: 1rem;
  }

  .upcoming-movies {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
  }

  .findmovies {
    color: 'primary';
  }
  
  .right {
    width: 24%;
    text-align: center;
  }

  .left {
    width: 76%;
  }

  .card {
    margin-top: 10px;
    height: 450px;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .flex-container > div {
    margin: 16px;
  }

  .released-movie-grid-item {
    margin: 15px;
  }