.details {
    text-align: left;
}

.parent {
    display: flex;
    margin: 0px 16px;
}

.left{
    width: 20%;
    text-align: center;
}

.middle {
    width: 60%;
}

.font {
    font-weight: bold;
}

.right {
    width: 20%; 
}

.rate-this-movie {
    font-weight: bold;
}

.artist-grid-style {
    margin-right: 32px;
}

.artists-style {
    margin: 16px 0 16px 0;
}

.gridTile {
    cursor: pointer;
  }

input[type="radio"] {
    display: none;
}

.movie-poster {
    display: inline-block;
    width: 100%;
    
}

.back-button-style {
    margin: 24px 8px 24px 0px;
}

.back-button-style:hover {
    cursor: pointer;
}

.trailer-box {
    margin: 16px 0px 16px 0px !important;
}

