.details {
    text-align: left;
}

.parent {
    display: flex;
}

.parent > div {
    margin: 0px 16px;
}

.left{
    width: 20%;
    text-align: center;
}

.middle {
    width: 60%;
}

.font {
    font-weight: bold;
}

.right {
    width: 20%; 
    padding-top: 0px;
}

.rate-this-movie {
    font-weight: bold;
}

.artist-grid-style {
    margin-right: 32px;
}

.artists-style {
    margin: 16px 0px 16px 0px;
}

.gridTile {
    cursor: pointer;
  }

input[type="radio"] {
    display: none;
}

