.left{
    width: 20%;
    
}

.middle {
    width: 60%;
  
}

.right {
    width: 20%;
   
    
}

.details {
    height: 100%;
}

.parent {
    height: 100%;
    width: 100%;
    display: flex;
}

.rate-this-movie {
    font-weight: bold;
}

.clickedstar {
    color: rgb(212, 180, 0);
}

.artists-style {
    margin: 16px 0 16px 0;
}